<appSettings>
  <add key="owin:AppStartup" value="vuivui.adapter.Startup"/>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  
  <add key="Cdn" value="//crm.nae.vn"/>
  <add key="ContentCdn" value="//crm.nae.vn"/>
  <!-- thư mục để đọc file script tạo file min -->
  <add key="ScriptCdnPath" value="C:\Project\MyProject\TCS\TCS\tcs.crm"/>

  <add key="CompanyId" value="1005"/>
  <add key="Env" value="local"/>
  <!-- thay đổi config này sẽ cập nhật lại toàn bộ cache -->
  <add key="StaticVersionFeed" value="20180701120000"/>
  <add key="DefaultCacheTimeout" value="15"/>
  <add key="DefaultPageSize" value="30"/>
  <add key="RolesViewAllOffice" value="Accountant,Admin,Director,Marketing"/>
  <add key="MapUserId" value=""/>
  <add key="MapUserName" value=""/>
  <add key="UploadFolder" value="/Upload/"/>
  <add key="ValidFileUpload" value=".bmp,.gif,.png,.jpg,.jpeg,.doc,.docx,.xls,.xlsx,.pdf" />
  
  <add key="WebAPI" value="http://api.tcsglobal.vn/api/"/>

  <!--LOCAL-->
  <add key="IsElastic" value="false"/>
  <add key="elastic_connection_string" value="http://127.0.0.1:9200/"/>
</appSettings>
