<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="WebAPI" value="http://api.hocbongnamanh.edu.vn/api/" />
    <add key="elastic_connection_string" value="http://27.118.28.155:9210/"/>

    <add key="notify_uri" value="https://notify-api.line.me/api/notify" />
    <add key="token_uri" value="https://notify-bot.line.me/oauth/token" />

    <add key="visa_state" value="AIzaSyAsW1MWgdrFHnHiW5CBsBBcud_cOQg1Ixc" />
    <add key="visa_client_id" value="4VeU5cpJ9SfytOMOPacZj2" />
    <add key="visa_client_secret" value="Yh8oWOTc0y3ZooXj9YxLWkOwdiak641jNkTiYGDNLyT" />
    <add key="visa_access_token" value="heN2hhE6cht5rCF840wAF1jvw4f7nXLA3Eyoo5IjoIk" />

    <add key="general_state" value="343dzhzDkCcbEfYp8J4bFNULsB7ZpJ3xTxseQ7VteXufd6RQ" />
    <add key="general_client_id" value="xXFsZ5T0Tdc9SToJ2C6qFk" />
    <add key="general_client_secret" value="ef89hMqYIV4pgi8t9FmES8416ilghL69H5IhEPP62yi" />
    <add key="general_access_token" value="16G18eEZgSpcZTcZlN20ZXsdU5m55hjMn73a4CYQ2Wc" />
  </appSettings>
  <connectionStrings>
    <add name="AccountConnectionString" connectionString="Data Source=.;Initial Catalog=TCS.Account;Persist Security Info=True;User ID=sa;Password=sa123" providerName="System.Data.SqlClient" />
    <add name="SqlConnectionString" connectionString="Data Source=.;Initial Catalog=TCS.CRM;Persist Security Info=True;User ID=sa;Password=sa123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
    </httpModules>
  </system.web>
  <system.webServer>
    
    <modules>
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
