<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="elastic_connection_string" value="http://127.0.0.1:9200/"/>
    <add key="IsElastic" value="false"/>
  </appSettings>
  <connectionStrings>
    <!--beta-->
    <add name="AccountConnectionString" connectionString="Data Source=27.118.28.155,1433;Initial Catalog=beta.tcs.account;Persist Security Info=True;User ID=beta;Password=beta@TcsGlobal.vn" providerName="System.Data.SqlClient"/>
    <add name="SqlConnectionString" connectionString="Data Source=27.118.28.155,1433;Initial Catalog=beta.nae.crm;Persist Security Info=True;User ID=beta;Password=beta@TcsGlobal.vn" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>