@model tcs.crm.Models.SeminarInsertModel
@if (Model != null)
{
    <div class="popup">
        <a href="#" onclick="$.fancybox.close(); return false;" class="close">✖</a>
        <div id="tabs">
            <ul>
                <li class="active"><a href="javascript:;" data-tab="tabs-info">Thông tin hội thảo</a></li>
                @if (Model.Id > 0)
                {
                    <li><a href="javascript:;" data-tab="tabs-time">Thời gian và địa điểm</a></li>
                }
            </ul>
            <div id="tabs-info" class="tabs-ct active">
                @Html.Partial("_SeminarInfo", Model)
            </div>
            @if (Model.Id > 0)
            {
                <div id="tabs-time" class="tabs-ct">
                    @Html.Partial("_SeminarPlaceInfo", Model.SeminarPlaceModel)
                </div>
            }
            <div class="clr"></div>
        </div>
    </div>
}
