.updatelink {
    float: right;
    padding: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.pbar {
    overflow: hidden;
    width: 100%;
    height: 12px;
    border: solid 1px #B6B6B6;
    border-radius: 3px;
    margin-top: 8px;
}

.ui-progressbar-value {
    background: #bd362f;
    text-align: right;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    margin-top: -1px;
    color:#fff;
}

.btnupload {
    margin-top: -10px;
}

.filelink {
    display: inline-block;
    clear: both;
    color: #3993ba;
    padding-left:18px;
}


.root {
    text-transform: uppercase;
}

.child {
    padding-left: 25px;
}

.sub {
    padding-left: 50px;
}

.doc-child{padding-left: 50px !important;}
.doc-sub{padding-left: 70px !important;}

.done {
    background: #5bb75b !important;
}
.skip {
    background: #ee5f5b !important;
}
