body {
    background: #f1f1f1;
}

.dashboard {
    display: block;
    margin: 10px;
    overflow:hidden;
}

    .dashboard h3 {
        display: block;
        padding: 10px 0 20px;
        font-weight: normal;
        font-size: 16px;
    }

    .dashboard .col {
        float: left;
        width: 49.5%;
    }

    .dashboard .col1 {
        float: right;
        width: 49.5%;
    }

    .dashboard .block {
        float: left;
        width: 49%;
        height: 300px;
        margin-bottom: 15px;
        box-sizing: border-box;
        background: white;
        position: relative;
    }

        .dashboard .block i, .dashboard .lineblock i {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

    .dashboard .right {
        float: right;
    }

    .dashboard .lineblock {
        display: block;
        clear: both;
        height: 300px;
        box-sizing: border-box;
        background: white;
        position:relative;
    }
