.popup {
    display: block;
    width: 1200px;
    background: #fff;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    background: #3993ba;
}

    .popup .close {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 4px;
        right: 4px;
        line-height: 28px;
        font-size: 15px;
        text-align: center;
        background: #0e0e0e;
        border-radius: 50%;
        color: #fff;
    }

    .popup .listitem {
        max-height: 510px;
        margin-bottom: 10px;
        position: relative;
    }

        .popup .listitem table {
            margin-bottom: 0;
        }

.popuptbl th, .popptbl td {
    padding: 6px 4px;
    box-sizing: border-box;
}
