#tabs {
    display: block;
}

    #tabs > ul {
        display: block;
        width: 100%;
        padding: 3px 3px 0;
        margin: 0;
    }

        #tabs > ul li {
            float: left;
            list-style: none;
            margin: 0;
            margin: 1px .2em 0 0;
            cursor: pointer;
        }

            #tabs > ul li a {
                color: #4c4c4c;
                display: block;
                padding: 8px 20px;
                background: #7fb5da;
                border-radius: 3px 3px 0 0;
            }

            #tabs > ul li.active {
                border-bottom: 0;
            }

                #tabs > ul li.active a {
                    background: #fff;
                }

    #tabs .tabs-ct {
        display: none;
        width: 100%;
        min-height: 400px;
        max-height: 580px;
        clear: both;
        position: relative;
    }

        #tabs .tabs-ct.active {
            display: block;
            border-radius: 0 0 6px 6px;
            padding: 15px 10px 10px;
            box-sizing: border-box;
            background: #fff;
        }
